:root{
    /* --bgcolor:#01070f;
    --green:#54dfbe;
    --shade: #64c8da33;
    --vibe:rgb(255, 255, 255);
    --sooper:rgb(2, 44, 13); */

    --bgcolor:rgb(9, 12, 39);
    --green:rgb(86, 155, 211);
    --shade:rgba(114, 114, 179, 0.339);
    --vibe:aliceblue;
}

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

body{
   
    background-color:var(--bgcolor) 
}


.welcome{
position: absolute;
    Width:100%;
    height:700px;
    margin-top: -100px;
    animation: 1.6s welcome  ease forwards;
    position: absolute;
    z-index: -1;
    /* display: none; */
}


@keyframes welcome{

    0%
    {
        opacity:1;
    }
    100%{

        opacity: 0;
    }
}
/* links  set */

.maa{
    position: fixed;
    top:0px;
    width: 100%;
    background-color: var(--bgcolor);
    border-bottom: 5px dashed var(--shade);
    z-index: 2;
}

.header{
margin:10px 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:50px;
   }

.header a{
    text-decoration: none;
     color: beige;
    }
.header div{
    width: 150px;
    text-align: center;
    padding: 10px;
    transition: .3s ease-in-out;
}
.header div:hover{
   
    border-radius: 10px;
    box-shadow:  2px  2px 3px var(--green);
}
.header div:hover a{
    
    color: var(--green);
    transition: .3s ease-in-out;
}




/* link set over in laptop */








/* toggle buttonm */

#close i{
    color:orangered;
    position: fixed;
    top:15px;
    left:15px;
    opacity: 0;
    
    
}
 #bar i{
    color:var(--green);
    position: fixed;
    top:15px;
    left:15px;
    opacity: 1;
    }

    #menubar:checked + .maa #close  i{

        opacity: 1;
    }
    #menubar:checked + .maa #bar i {
    
        opacity: 0;
    }



#menubar{
display:none;
}


#menubar:checked  + .maa{
 position: relative;
}



#menubar:checked  + .maa .header{
    
    position: fixed;
    transform: rotate(90deg) translateY(-30%);
    transform-origin:left;
   height: 32px;
display:flex;
align-items: center;
justify-content: space-around;
font-size: x-small;

width: 600px;
/* width:10px; */
/* background-color:var(--green) */
}


#menubar:checked  + .maa .header div{
    
    /* margin-left: 0px; */
   
    text-align: center;
    /* width:20%; */
    
    /* background-color: aqua; */
}
#menubar:checked  + .maa .header div:hover{

    box-shadow: 0px 0px 0px;

}






/* content */

.content{
position: relative;
    padding: 20px;
margin-top:100px;
margin-left: 30px;
margin-right: 30px;
    display: grid;
    grid-template-areas: "hi hi img"
    "skill skill proj"
    "exp exp exp"
    "qual qual bio";

    gap:20px;
}

.area-hi{
    margin-top: 40px;
    grid-area: hi;
    padding-top: 10px;
    padding-bottom: 30px;
    animation:dhe_vannu 1.2s ease-in-out .8s backwards ;
    /* background-color: aliceblue; */
}


@keyframes dhe_vannu{
0%{
    transform: translateX(-900px);
}
100%{

    display: initial;
}

}


/* HI DIV */

.area-hi .hello{

    font-size: 2rem;
    font-weight: 300;
    /* width:500px; */
    /* height: 300px; */
    color:var(--green);
    /* background-color: aqua; */
    text-align: left;
    margin-left: 200px;
}



.name{
    
    font-size:3rem;
    -webkit-text-stroke:1px  white;
    color:transparent;
background-clip: text;
-webkit-background-clip: text;
/* animation:namecolor 3s linear  infinite ; */
 font-family:cursive;

}





@keyframes namecolor{

    0%{
        background-image: linear-gradient(to right,var(--green),var(--shade),yellow);
    }

    25%{
        background-image: linear-gradient(to right,steelblue,violet,aqua);

    }
50%{
    background-image: linear-gradient(to right,yellow,orange,aqua);

}
75%{
    background-image: linear-gradient(to right,violet,aqua,steelblue);

}
100%{
    background-image: linear-gradient(to right,orange,steelblue,violet);

}
}


/* image */

.area-img{
    grid-area: img;

text-align: center;
 padding:20px;
 animation: dhe_vannu2 1.2s  ease-in-out .8s backwards  ;
    

    border-left: 5px dashed var(--shade) ;
}

.area-img img{
   
    width:70%;
    height:70%;
    opacity: .8;
    border-radius: 50%;
    align-items: center;
    box-shadow: 7px 7px 35px   var(--green);
    border:5px double rgb(255, 255, 255);
    
    
}

@keyframes dhe_vannu2{

    0%{
        transform: translateX(1000px);
    }
    
    100%{
        display: initial;
    }
}

    

.socico a{

    color:whitesmoke;
    
}

.socico{
position: relative;
left:50%;
transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    /* border-radius:20px; */
    width:90%;
    /* background-color: bisque; */
    

}

.socico a:hover{

    transform: scale(1.2); 
    color:var(--green);
     transition: .5s ease-in-out; 
   
}




/* SKILLSET DIV */

.cardheading{

    font-size: xx-large;
    text-align: center;
    color: var(--green);
    /* border-bottom: 5px double var(--vibe); */
}

.area-skill{
    
    grid-area: skill;
    background-color: var(--shade);
    padding: 5%;
    /* border-radius:10px; */
    height: 500px;
    overflow: scroll;
    opacity: .6;
    border:10px double var(--bgcolor);
    animation: dhe_vannu3 1.2s ease-in-out 1s backwards;
}


@keyframes dhe_vannu3{

    0%{
        transform: translateY(2000px);
    }

    100%{

        display: initial;
    }
}







.area-skill:hover{

    opacity: 1;
}
.area-skill::-webkit-scrollbar{

    display:none;
}


.skillbox{
/* padding: 20px; */
    display: flex;
    justify-content: space-evenly;
    width:100%;
    height:80%;
    /* background-color: aqua; */

}
.skillimg img{

    width:100%;
    height:100%;
}

.skillball{
/* padding: 10px; */
    width:50%;
    overflow: scroll;
    /* background-color: var(--bgcolor); */
    font-size: small;
}

.skillball::-webkit-scrollbar{

    display:none;
}


.skillrow{

    display: flex;
    justify-content: space-evenly;
    padding-block: 10px;
    margin-block: 30px;
}

.skillcol{

    
   padding-block: 5px;
    position: relative;
    
    border-radius: 10px;
    /* height: 50%; */
    width:40%;
}




.rate{
    
    padding-block: 10px;
    
    overflow: hidden;
    color:transparent;
    position: absolute;
/* left:5%; */
color:transparent;
padding-block: 10px;
    width:100%;
  /* border-radius:40px; */
    border:1px solid transparent;
    border-right: 0px;
    animation : rate  5s linear 3s  infinite ;
z-index: 1;
}

.anim{
    text-align: center;
    width:100%;
    /* border-radius:20px; */
      border:2px solid white;
    position: absolute;
    padding-block: 10px;
    background-color: transparent;
    /* background-image: linear-gradient(to right, var(--bgcolor) 99%,transparent 1%); */
    /* z-index: -1; */
    color:white;
    /* animation : rate  10s steps(5, end) 3s  infinite ; */
}

.row1 .col-1 .rate-1{

    background-image:linear-gradient(to right, rgba(0, 255, 0, 0.336) 75% ,  transparent 25% );

}

.row1 .col-2 .rate-1{
    background-image:linear-gradient(to right, rgb(0, 255, 0,.336) 60% , transparent 40% );

}

.row2 .col-1 .rate-1{

    background-image:linear-gradient(to right, rgb(0, 255, 0,.336) 50% ,  transparent 50% );

}
.row2 .col-2 .rate-1{

    background-image:linear-gradient(to right, rgb(0, 255, 0,.336) 50% ,  transparent 50% );

}
.row3 .col-1 .rate-1{

    background-image:linear-gradient(to right, rgb(0, 255, 0,.336) 50% ,  transparent 50% );

}
.row3 .col-2 .rate-1{

    background-image:linear-gradient(to right, rgb(0, 255, 0,.336) 75% , transparent 25% );

}
.row4 .col-1 .rate-1{

    background-image:linear-gradient(to right, rgb(0, 255, 0,.336) 75% ,  transparent 25% );

}
.row4 .col-2 .rate-1{

    background-image:linear-gradient(to right, rgb(0, 255, 0,.336) 75% ,  transparent 25% );

}
.rate:hover{

    animation-play-state:paused;
}




@keyframes rate{
    0%{
        /* background-image: linear-gradient(to right, transparent 1%, var(--bgcolor) 99%); */
    width:10%;
    }
    /* 20%{
        background-image: linear-gradient(to right, transparent 20%, var(--bgcolor) 75%);

    }
    40%{
        background-image: linear-gradient(to right, transparent 40%, var(--bgcolor) 60%);

    }
    60%{
        background-image: linear-gradient(to right, transparent 60%, var(--bgcolor) 40%);

    }
    80%{
        background-image: linear-gradient(to right, transparent 80%, var(--bgcolor) 20%);
    } */
    50%{
        /* background-image: linear-gradient(to right, transparent 99%, var(--bgcolor) 1%); */
width:100%;
    }
}

/* experience section */




.area-exp{
    grid-area: exp;
    background-color: var(--bgcolor);
    height:500px;
    overflow: scroll;
    width: 100%;
    color:var(--vibe);
    border: 4px double var(--shade);
    padding: 1%;
    opacity: 0.6;
   
}

.area-exp::-webkit-scrollbar{

    display: none;
}
.area-exp:hover{
    opacity: 1;

}
.expall{

    display: flex;
    justify-content: space-between;
    
    
}


.expall .gif{
    width:100%;
}

.gif img{
    width:100%;
    height: 350px;
    
}

.expall .work{

    padding:50px;
    width:100%;
    /* background-color: antiquewhite; */
 
    
    
}

.expall .work .comp{

    font-size: medium;
    
    text-align: left;
    
    /* color:var(--shade); */
    /* background-color: var(--green); */
    /* width:100%; */

}




.expall .work .job{
margin-top:100px;
    
    position: relative;
    text-align: left;
    /* background-color: cyan; */
    height:30px;
    /* overflow: hidden; */
}

.expall .work .job:first-child{

    margin-top:-40px;
}


.lumlabel i{

    position: absolute;
    right:0px;
    TOP:5%;
}

.lumlabel .lumup{

    opacity:0;
}

.lumhide{

    color:var(--green);
   
   
}





.tcshide{

    color:var(--green);

    
}




.keltronhide{

    color:var(--green);

    
}
/* luminar technolab hide */


#lumhide{

    display: none;
    
}

#lumhide:checked + .comp{
    color:white;
}
#lumhide:checked ~ .lumhide .lum{

display: none;
}


#lumhide:checked ~ .lumdown{

    opacity: 1;
}

#lumhide:checked ~ .lumup{

    opacity: 0;
}

.lumlabel .lumup{

    opacity:1;
}
.lumlabel .lumdown{

    opacity:0;
}

#lumhide:checked + .job{

    width:auto;
}

/* tcs hide */

#tcshide{

    display: none;
}

#tcshide:checked ~ .tcshide .tcs{

display: none;
}

#tcshide:checked ~ .comp{
    color:white;
}


.tcslabel i{

    position: absolute;
    right:0px;
    TOP:5%;
}

#tcshide:checked ~ .tcsdown{

    opacity: 1;
}

#tcshide:checked ~ .tcsup{

    opacity: 0;
}

.tcslabel .tcsup{

    opacity:1;
}
.tcslabel .tcsdown{

    opacity:0;
}


/* keltron hide */

#keltronhide{

    display: none;
}

#keltronhide:checked + .comp{
    color:white;
}
#keltronhide:checked ~ .keltronhide .keltron{

display: none;
}


.keltronlabel i{

    position: absolute;
    right:0px;
    TOP:5%;
}


#keltronhide:checked ~ .keltrondown{

    opacity: 1;
}

#keltronhide:checked ~ .keltronup{

    opacity: 0;
}

.keltronlabel .keltronup{

    opacity:1;
}
.keltronlabel .keltrondown{

    opacity:0;
}


/* project */




.area-proj{
    grid-area: proj;
    padding: 20px;
    text-align: center;
    color:var(--green);
/* border-radius:10px; */
border:2px solid var(--green);
opacity: .6;
animation: dhe_vannu3 1.2s ease-in-out 1s backwards;

height:500px;
overflow: scroll;
}

.area-proj:hover{

    opacity: 1;
}
.area-proj::-webkit-scrollbar{

    display:none;
}
.area-proj img{

    width:80%;
    height:150px;
    border-radius: 5px;
}

.area-proj h3{

    padding: 5px;
    background-color: var(--bgcolor);
    color: var(--green);
    
}


.area-proj h3:hover{

    
    transform: scale(1.2);
}










.area-qual{
    grid-area: qual;
}


.area-bio{

    grid-area: bio;
}
.area{

    /* background-color: rgba(255,255,255,0.2); */
    
}



























/* mobile view */



@media(max-width:450px){

    /* header */

   
    .welcome{

        Width:100%;
        height:800px;
        margin-top: -80px;
        animation: 1.2s welcome  ease-in-out forwards;
        position: absolute;
        /* z-index: 2; */
        /* display: none; */
    }


.maa .header{

    display: none;
   }

.maa label{

    display: initial;
}
 .maa{
    border:0px;
 }


.area-hi .hello{

margin-left: 0px;
text-align: center;}

 /* skillset */





.area-skill{

    height: auto;
}

.area-proj{

    height:auto;
}
   /* content */
   

   .content{
margin-left: 30px;
margin-right: 30px;
margin-top:30px;
    grid-template-areas: "img"
    "hi"
    "skill"
    "proj"
    "exp"
    "qual"
    "bio";
   }

   .area-img{

    border-bottom:2px dashed var(--green);
    border-left:0px;
}

.area-exp{

    height:auto;
}
.expall{

    display: block;
}

.expall .work .job:first-child{

    margin-top:0px;
}
.expall .work .job{

   height:auto;
   margin-top: 0px;
}

.expall .work .comp{

    font-size: medium;
}
.area-exp p{
    font-size: medium;
}

p{
    font-size: medium;
}
.expall .work{

    padding: 10px;
}

.skillbox{
    padding: 20px;
        display: block;
        justify-content: space-evenly;
}




.skillball{
    /* padding: 10px; */
        width:100%;
        
        /* background-color: var(--bgcolor); */
        font-size: x-small;
    }








}

@media(hover:none){

    .area-exp,.area-skill,.area-proj{

        opacity: 1;
    }
}




/* tab view */



@media(min-width:450px) and (max-width:1000px){

    
   body{
    font-size: 10px;
   }

   .maa{

    border-bottom :2px dashed var(--green)
   }
    .content{

        grid-template-areas: "img"
        "hi"
        "skill"
        "proj"
        "exp"
        "qual"
        "bio";
       }

       .area-img{

        border-bottom:2px dashed var(--green);
        border-left:0px;
    }


    .area-hi .hello{

        margin-left: 0px;
    font-size: x-large;
    text-align: center;
}

.area-hi .hello p{

    
font-size: x-large;
}

.area-exp{

    height: auto;
}
   
     .area-skill{

        
        height:auto;
     }

     .expall{

        display: block;
    }

   

    

     .area-proj{

        height:auto;
     }

     p{

        font-size:large;
     }

     .skillimg{

        width:50%;
     }
     .skillball{
        /* padding: 10px; */
            width:50%;
            
            /* background-color: var(--bgcolor); */
            font-size: smaller;
        }
    
    
}


/* laptop view */



@media(min-width:450px){

    .maa label{

        display: none;
      }

      .maa {
        display: initial;
      }

      .area-skill{

        overflow:scroll;
     }

}


