:root{

    /*  color one */

/* 
    --bgcolor:#051122;
    --green:#1ea989;
    --shade: #64c8da33;
    --vibe:rgb(229, 226, 226);
     */
     /* --bgcolor:rgb(3, 3, 34);
     
      --green:rgb(86, 155, 211);
    --shade:rgba(114, 114, 179, 0.339);
    --vibe:aliceblue;
    */

    /* --shade:rgba(78, 78, 161, 0.409); */

    /* color two */
   
    --bgcolor:rgba(255,255,255,0.2);
    --green:skyblue;
    --shade:rgba(200,200,200,0.1);
    --vibe:aliceblue;
--top:rgb(29, 217, 217);
   /* color three */

   /* --bgcolor:snow;
   --green:black;
   --shade:teal;
   --vibe:black;
 */

}

html{

    scroll-behavior: smooth;
}
*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

body{
   
     /* background-color:var(--bgcolor) ; */
     background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/bg2.jpg); 
    background-size:auto; 

}


.welcome{
position: absolute;
    Width:100%;
    height:700px;
    margin-top: -100px;
    animation: 1.6s welcome  ease forwards;
    position: absolute;
    z-index: -1;
    /* display: none; */
}


@keyframes welcome{

    0%
    {
        opacity:1;
    }
    100%{

        opacity: 0;
    }
}
/* links  set */

.maa{
    position: fixed;
    top:0px;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/bg2.jpg);
    border-bottom: 5px double var(--shade);
    z-index: 2;
    animation: vannu 1.5s ease .8s backwards;
}

@keyframes vannu{

    0%{
        margin-top: -100px;
    }
    100%{
        display: initial;
    }
}

.header{
margin:10px 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:50px;
   }

.header a{
    text-decoration: none;
     color: var(--vibe);
    }
.header div{
    width: 150px;
    text-align: center;
    padding: 10px;
    transition: .3s ease-in-out;
}
.header div:hover{
   
    border-radius: 10px;
    box-shadow:  2px  2px 3px var(--green);
}
.header div:hover a{
    
    color: var(--green);
    transition: .3s ease-in-out;
}




/* link set over in laptop */








/* toggle buttonm */

#close i{
    color:orangered;
    position: fixed;
    top:15px;
    left:15px;
    opacity: 0;
    
    
}
 #bar i{
    color:var(--green);
    position: fixed;
    top:15px;
    left:15px;
    opacity: 1;
    }

    #menubar:checked + .maa #close  i{

        opacity: 1;
    }
    #menubar:checked + .maa #bar i {
    
        opacity: 0;
    }



#menubar{
display:none;
}


#menubar:checked  + .maa{
 position: relative;
}



#menubar:checked  + .maa .header{
    
    position: fixed;
    transform: rotate(90deg) translateY(-30%);
    transform-origin:left;
   height: 32px;
display:flex;
align-items: center;
justify-content: space-around;
font-size: x-small;

width: 600px;
/* width:10px; */
/* background-color:var(--green) */
}


#menubar:checked  + .maa .header div{
    
    /* margin-left: 0px; */
   
    text-align: center;
    /* width:20%; */
    
    /* background-color: aqua; */
}
#menubar:checked  + .maa .header div:hover{

    box-shadow: 0px 0px 0px;

}






/* content */

.content{
position: relative;
    padding: 20px;
margin-top:100px;
margin-left: 30px;
margin-right: 30px;
    display: grid;
    grid-template-areas: "hi hi img"
    "skill skill skill"
    "proj proj proj"
    "exp exp exp"
    "qual qual bio";

    gap:50px;
}

.area-hi{

    /* width:180%; */
    margin-top: 40px;
    grid-area: hi;
    padding-top: 10px;
    padding-bottom: 30px;
    animation:dhe_vannu 1.2s ease-in-out .8s backwards ;
    /* background-color: aliceblue; */
}


@keyframes dhe_vannu{
0%{
    transform: translateX(-900px);
}
100%{

    display: initial;
}

}


/* HI DIV */

.area-hi .hello{

    font-size: 2rem;
    font-weight: 300;
    /* width:500px; */
    /* height: 300px; */
    color:var(--green);
    /* background-color: aqua; */
    text-align: left;
    margin-left: 200px;
}



.name{
    
    font-size:3rem;
    -webkit-text-stroke:2px  var(--vibe);
    color:transparent;
background-clip: text;
-webkit-background-clip: text;
/* animation:namecolor 3s  ease-in-out infinite ; */
 font-family:cursive;
 opacity: .65;

}





@keyframes namecolor{

    0%{
        background-color: yellow;
    }
    25%{
        background-color: orange;
    }

    50%{
        background-color:red;

    }
    75%{
        background-color: orange;
    }
    100%{
        background-color: greenyellow;
    }
/* 50%{
    background-image: linear-gradient(to right,yellow,orange,aqua);

}
75%{
    background-image: linear-gradient(to right,violet,aqua,steelblue);

}
100%{
    background-image: linear-gradient(to right,orange,steelblue,violet);

} */
}


/* image */

.area-img{
    grid-area: img;

text-align: center;
 padding:10px;
 animation: dhe_vannu2 1.2s  ease-in-out .8s backwards  ;
    

    /* border-left: 5px dashed var(--shade) ; */
}

.area-img img{
   
    width:65%;
    height:65%;
    opacity: .9;
    border-radius: 50%;
    align-items: center;
    /* box-shadow: 10px 10px 40px   var(--vibe); */
    border:5px double var(--shade);
    
    
}

@keyframes dhe_vannu2{

    0%{
        transform: translateX(1000px);
    }
    
    100%{
        display: initial;
    }
}

    

.socico a{

    color:var(--vibe);
    
}

.socico{
position: relative;
left:50%;
transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    /* border-radius:20px; */
    width:90%;
    /* background-color: bisque; */
    

}

.socico a:hover{

    transform: scale(1.2); 
    color:var(--top);
     transition: .5s ease-in-out; 
   
}




/* SKILLSET DIV */

.cardheading{

    font-size: xx-large;
    text-align: center;
    color: var(--green);
    /* position: sticky; */
    /* top:0px; */
    /* z-index: 1; */
    /* border-bottom: 5px double var(--vibe); */
}

.area-skill{
    position: relative;
    width: 100%;
    height:500px;

    grid-area: skill;
    background-color: var(--shade);
    padding: 5%;
    
    /* height: 500px; */
    overflow: scroll;
    
    border:5px double var(--bgcolor);
    border-radius: 10px;
    animation: dhe_vannu3 1.2s ease-in-out 1s backwards;
}


@keyframes dhe_vannu3{

    0%{
        transform: translateY(2000px);
    }

    100%{

        display: initial;
    }
}







.area-skill::-webkit-scrollbar{

    display:none;
}


.skillbox{
/* padding: 20px; */
    display: flex;
    justify-content: space-evenly;
    width:100%;
    height:80%;
    /* background-color: aqua; */

}
.skillp {
font-size: large;
color:var(--vibe);
padding: 10px;
    width:700px;
    height:auto;
}

.skillball{
/* padding: 10px; */
    width:50%;
    /* overflow: scroll; */
    /* background-color: var(--bgcolor); */
    font-size: small;
}

.skillball::-webkit-scrollbar{

    display:none;
}


.skillrow{

    display: flex;
    justify-content: space-evenly;
    padding-block: 10px;
    margin-block: 10px;
    text-align: center;
}

.skillcol{
    
    
   padding-block: 5px;
    position: relative;
    color:var(--top);
    font-size: 60px;
   
    /* height: 50%; */
    width:40%;
}




/* experience section */




.area-exp{
    grid-area: exp;
    
    background-color: var(--shade);
    height:auto;
    overflow: scroll;
    width: 100%;
    color:var(--vibe);
    border: 4px double var(--shade);
    border-radius: 10px;
    padding: 1%;
    /* opacity: 0.6; */
   
}

.area-exp::-webkit-scrollbar{

    display: none;
}
.area-exp:hover{
    opacity: 1;

}
.expall{

    display: flex;
    justify-content: space-between;
    
    
}


.expall .gif{
    width:100%;
}

.gif img{
    width:100%;
    height: 350px;
    
}

.expall .work{

    padding:50px;
    width:100%;
    /* background-color: antiquewhite; */
 
    
    
}

.expall .work .comp{

    font-size: medium;
    
    text-align: left;
    
    /* color:var(--shade); */
    /* background-color: var(--green); */
    /* width:100%; */

}




.expall .work .job{
margin-top:100px;
    
    position: relative;
    text-align: left;
    /* background-color: cyan; */
    height:30px;
    /* overflow: hidden; */
}

.expall .work .job:first-child{

    margin-top:-40px;
}


.lumlabel i{

    position: absolute;
    right:0px;
    TOP:5%;
}

.lumlabel .lumup{

    opacity:0;
}

.lumhide{

    color:var(--green);
   
   
}





.tcshide{

    color:var(--green);

    
}




.keltronhide{

    color:var(--green);

    
}
/* luminar technolab hide */


#lumhide{

    display: none;
    
}

#lumhide:checked + .comp{
    color:var(--vibe);
}
#lumhide:checked ~ .lumhide .lum{

display: none;
}


#lumhide:checked ~ .lumdown{

    opacity: 1;
}

#lumhide:checked ~ .lumup{

    opacity: 0;
}

.lumlabel .lumup{

    opacity:1;
}
.lumlabel .lumdown{

    opacity:0;
}

#lumhide:checked + .job{

    width:auto;
}

/* tcs hide */

#tcshide{

    display: none;
}

#tcshide:checked ~ .tcshide .tcs{

display: none;
}

#tcshide:checked ~ .comp{
    color:var(--vibe);
}


.tcslabel i{

    position: absolute;
    right:0px;
    TOP:5%;
}

#tcshide:checked ~ .tcsdown{

    opacity: 1;
}

#tcshide:checked ~ .tcsup{

    opacity: 0;
}

.tcslabel .tcsup{

    opacity:1;
}
.tcslabel .tcsdown{

    opacity:0;
}


/* keltron hide */

#keltronhide{

    display: none;
}

#keltronhide:checked + .comp{
    color:var(--vibe);
}
#keltronhide:checked ~ .keltronhide .keltron{

display: none;
}


.keltronlabel i{

    position: absolute;
    right:0px;
    TOP:5%;
}


#keltronhide:checked ~ .keltrondown{

    opacity: 1;
}

#keltronhide:checked ~ .keltronup{

    opacity: 0;
}

.keltronlabel .keltronup{

    opacity:1;
}
.keltronlabel .keltrondown{

    opacity:0;
}


/* project */




.area-proj{
    position: relative;
    grid-area: proj;
height:600px;
    /* width:50%; */
    text-align: center;
    color:var(--green);
border-radius:10px;


animation: dhe_vannu3 1.2s ease-in-out 1s backwards;

/* overflow: scroll; */

}


.area-proj::-webkit-scrollbar{

    display:none;
}

.area-proj .cardheading{

    
    z-index: -1;
}
.area-proj h3 a{

   
    /* background-color: var(--bgcolor); */
   text-decoration: none;
    color: var(--green);    
}


.area-proj h3:hover{

    
    transform: scale(1.2);
}


.projects{
display: flex;
justify-content: space-evenly;
    /* background-color: #fff; */
width:100%;
height: 80%;

}

.pro{
    transform-style: preserve-3d;
    perspective: 2000px;
    width:20%;
    height:300px;
    /* border:2px solid red; */
    
    transform: rotateX(-30deg) ;
    color:black;
   
}

.rotor{
    /* background-color: aqua; */
    width:100%;
    height: 100%;
   
    transform-style: preserve-3d;
    
    animation: rotor 6s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

.rotor:hover{

    animation-play-state: paused;
    
}

.sides{
    background-color:rgba(0,0,0,.8);
   
perspective: 12000px;
    position: relative;
    width:200px;
    height: 200px;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:inset 1px 1px 10px #000;
    color:var(--top);
    
}

.sides img{

    position: absolute;
    width:100%;
    height: 100%;
}


@keyframes rotor{
    100%{

        transform: rotateY(360deg);
        transform-origin: center;
    }
}

.top{
width:200px;
height: 200px;
background-color: #ddd;
    position: absolute;
    transform: translateY(-100px) rotateX(90deg);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: inset 5px 5px 15px #303030;
}

.bottom{
    width:200px;
    height: 200px;
    background-color: #ddd;
        position: absolute;
        transform: translateY(100px) rotateX(90deg);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-shadow: inset 5px 5px 15px #303030; 
}


.top a{

padding: 80px;
    text-decoration: none;
    color:#303030;
}

.top:hover a{
    color:#ddd;
    

}

.top h1:hover{
    transform: scale(1.1);
}

.sides-1{

    position: absolute;
    
    /* width:200px;
    height: 200px; */
    
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);

}
.sides-2{

    position: absolute;
    
    /* width:200px;
    height: 300px; */
    
    transform: rotateY(calc(90deg * var(--i)) )translateZ(100px);

}
.sides-3{

    position: absolute;
    
    /* width:300px;
    height: 300px; */
    
    transform: rotateY(calc(90deg * var(--i))) translateX(-100px);
transform-origin: left;
}
.sides-4{

    position: absolute;
   
    /* width:300px;
    height: 300px; */
    
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);

}

.top:hover {

    background-color: #303030;
    color:#ddd;
}

















/* qualification */


.area-qual{
    grid-area: qual;
}


.area-bio{

    grid-area: bio;
}




























/* mobile view */



@media(max-width:450px){

    /* header */

   
    .welcome{

        Width:100%;
        height:800px;
        margin-top: -80px;
        animation: 1.2s welcome  ease-in-out forwards;
        position: absolute;
        /* z-index: 2; */
        /* display: none; */
    }


.maa .header{

    display: none;
   }

.maa label{

    display: initial;
}
 .maa{
    border:0px;
 }


.area-hi .hello{

margin-left: 0px;
text-align: center;}

 /* skillset */





.area-skill{
font-size: 20px;
    height: auto;
}

.area-proj{

    height:auto;
    padding-block: 40px;
}
   /* content */


   .content{
margin-left: 30px;
margin-right: 30px;
margin-top:30px;
    grid-template-areas: "img"
    "hi"
    "skill"
    "proj"
    "exp"
    "qual"
    "bio";
   }



.area-exp{

    height:auto;
}
.expall{

    display: block;
}

.expall .work .job:first-child{

    margin-top:0px;
}
.expall .work .job{

   height:auto;
   margin-top: 0px;
}

.expall .work .comp{

    font-size: medium;
}
.area-exp p{
    font-size: medium;
}

p{
    font-size: medium;
}
.expall .work{

    padding: 10px;
}

.skillbox{
    padding: 20px;
        display: block;
        justify-content: space-evenly;
}


.skillp{
/* word-break: break-all; */
width:auto;
    font-size: smaller;
}

.skillball{
    /* padding: 10px; */
        width:100%;
        
        /* background-color: var(--bgcolor); */
        font-size: x-small;
    }

.skillcol{

    font-size: 30px;
}

    .area-proj img{

        width: 100%;
        /* height: 40%; */
    }





.projects{
    display: block;
    /* justify-content: space-evenly; */
        /* background-color: #fff; */
    width:100%;
    /* height: 80%; */
    
    }

    .pro{
        width:100%;
    }

    .rotor{

        margin-block: 40px;
    }

   .sides{ display: flex;
    align-items: center;
    justify-content: center;
}

.sides img{

    position: absolute;
    width:100%;
    height: 100%;
}
    
}

@media(hover:none){

    .area-exp,.area-skill,.area-proj{

        opacity: 1;
    }



        

    }


/* tab view */



@media(min-width:450px) and (max-width:1000px){

    
   body{
    font-size: 10px;
   }
.maa label{

    display: none;
}
   .maa{

    border-bottom :2px dashed var(--green)
   }
    .content{

        grid-template-areas: "img"
        "hi"
        "skill"
        "proj"
        "exp"
        "qual"
        "bio";
       }

       .area-img{

        border-bottom:2px dashed var(--shade);
        border-left:0px;
    }


    .area-hi .hello{

        margin-left: 0px;
    font-size: x-large;
    text-align: center;
}

.area-hi .hello p{

    
font-size: x-large;
}

.socico{

    width:80%;
}

.area-exp{

    height: auto;
}
   
     .area-skill{

        
        height:auto;
     }

     .expall{

        display: block;
    }

   
    .area-proj{

        

        height:auto;
    overflow: none;
    font-size: large;
    padding-block: 40px;
 }

    
    .projects{
        display: block;
        /* justify-content: space-evenly; */
            /* background-color: #fff; */
        width:100%;
        /* height: 80%; */
        
        }

        .pro{
            width:100%;
        }

        .rotor{

            margin-block: 40px;
        }

     
     p{

        font-size:large;
     }

     .skillimg{

        width:50%;
     }
     .skillball{
        /* padding: 10px; */
            width:50%;
            
            /* background-color: var(--bgcolor); */
            font-size: smaller;
        }

        .skillcol{

            font-size: 30px;
        }
    
       

        .sides{ display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .sides img{
        
            position: absolute;
            width:100%;
            height: 100%;
        }
           
}


/* laptop view */



@media(min-width:1000px){

    .maa label{

        display: none;
        
      }

      .maa {
        display: initial;
      }

      .area-skill{

        overflow:scroll;
     }

    }