body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(./images/backpaper.jpg);
}

.topsec{
    width: 100%;
    top:0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    position: sticky;
    top:0px;
}

.top{

    
  margin-left: 30px;
    color:black;
    
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top:first-child{
    text-align: center;

    
}

.top a{

    color:black;
}

.top i:hover{

    transform:scale(1.5);
}

.maa{
    position: sticky;
    top:70px;
}

.header{

    display:flex;
    justify-content: space-around;
    
    
    align-items: center;
    height:30px;
   
    padding: 0;
    background-color: rgba(255, 255, 255,0.1);
    margin: 0;
    box-sizing: border-box;
    position: sticky;
    
    gap:0px;
    color:white;
}

.header a{
    text-decoration: none;
    
    color: white;
    
    /* background-color: black; */
  
}

.one:hover,.two:hover,.three:hover,.four:hover {
   
    transform: translateY(-5px) rotateY(360deg) scale(1.2) ;
    
    
}

.one:hover a,.two:hover a,.three:hover a,.four:hover a{

    color:gold;
}

.header div{

   /* background-color: aqua; */
   text-align: center;
   padding: .5rem .5rem;
   transition: .7s ease-out;
}





#close i{
    color:black;
    position: fixed;
    /* z-index: 2; */
    top:15px;
    left:15px;
    opacity: 0;
    
    
}
 #bar i{
    color:black;
    position: fixed;
    /* z-index: 1; */
    top:15px;
    left:15px;
    /* display: none; */
    opacity: 1;
    

}

#menubar{

    display:none;
}


#menubar:checked  + .maa{

   position: fixed;
}



#menubar:checked  + .maa .header{
    margin-top: 0px;
    height:auto;
width:100px;
display:contents;
align-items:left;
font-size: x-small;

/* background-color: aqua; */



}

#menubar:checked + .maa #close  i{

    opacity: 1;
}
#menubar:checked + .maa #bar i {

    opacity: 0;
}

#menubar:checked  + .maa .header div{
    margin-top: 50px;
    text-align: left;
    
    
}

#menubar:checked  + .maa .header .one{

    margin-top: 0px;
}
#menubar:checked  + .maa .header .three:hover,
#menubar:checked  + .maa .header .four:hover,
#menubar:checked  + .maa .header .five:hover,
#menubar:checked  + .maa .header .six:hover{

    transform: scale(1) translateX(10px);
}







#menubar:checked  + .maa .header div{

    width:70px;
}



    
   




@media(max-width:500px){
.maa .header{

    display: none;
   }

.maa label{

    display: initial;
}
   .top{
font-size: small;

   }
   
}

@media(min-width:500px) and (max-width:800px)
{
/* label{
display: initial;
}
   
   
   .header{

    display: none;
   } */

   
   
    
}
@media(min-width:500px){

    .maa label{

        display: none;
      }
}